.home {
    text-align: center;
    margin-top: 50px;
}

.home-button-shell{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.home-button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color:#a8b798;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.home-button:hover {
    background-color: #f0e5d8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    font-size: 18px;
    color: #4a4a4a;
}
