.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    color:darkseagreen;
    font-size: 18px;
}

.navbar-right{
    display: Flex;
    align-items: center;
    gap: 40px
}