


.admin-div{
    background-color: lightgrey;
    width: 75%;
    padding: 20px;
    justify-content: center;
    border: black solid;
    display: flex;
    text-decoration: none;


}

.admin-div:hover{
    background-color: rgb(107, 105, 105);
}
/* 

.world{
    list-style: none;
    border: 20px black bold;
    border-style: solid;
}
.world:hover{
    background-color: lightblue;

} */




/*


input[type=text].userSample-textbox{
    width: 25%;

}


input[type=text] ,input[type=password]{
    width: 100%;
    height: 25px;
}



.reg-label{
    display: block;
    margin: 30px 0;
}


a.world {
    width: 85%;
    display: block;
    padding: 20px;
    border: black;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
a.world:hover{
    background-color: lightblue;
}



}

.userSample-label{
    display: block;
    font-size: 20px;
    margin: 20px 0;
} */


/*

body{
    justify-content: center;
    align-items: center;
    background-color: white;

}

.form-shell{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.form{

    background-color: grey;
    padding: 3rem;
    border-radius: 0.25rem;
    width:80%;
}
label{
    display: block;
    font-size: 30px;
    margin-top: 2em;
}
input{
    display: block;
    padding: 8px;
    margin-top: 20px;
    width: 100%;
}

button{
    margin-top: 5em;
    font-size: 30px;
    width:100%;
}
*/